:root {
  --textarea-height: 120px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  overflow-y: scroll;
}

:root {
  --light-gray2: #d1d1d1;
  --light-orange: #ffa800;

  --width-content-wrapper: calc(var(--input-width) * 2 + 32px * 2 + 1px);
  --padding-lr-big: 80px;
  --padding-lr-medium: 48px;
  --padding-lr-small: 24px;
}

h1 {
  margin-bottom: 48px;
}

.content-wrapper {
  /* min-width: var(--width-content-wrapper);
  padding-left: calc(
    (
      50dvw -
        max(
          var(--content-limitation) + var(--sidebar-width),
          var(--sidebar-width)
        ) -
        80px - var(--width-content-wrapper)
    )
  );
  padding-right: calc(
    (
      50dvw - max(var(--content-limitation), 0) - 80px -
        var(--width-content-wrapper)
    )
  ); */
}

.task-form * {
  font-size: 20px;
}

.add-task-inner-wrapper {
  display: flex;
  /* margin-bottom: 100px; */
}

.add-task-container {
  display: flex;
  flex-direction: column;
}

textarea {
  padding: 18px 16px;
  height: var(--textarea-height);
  resize: vertical;
}

input {
  padding: 12px 16px;
}

input:not([type="checkbox"], .trigger-input-container input),
textarea,
select,
.add-task-prio-btns-container {
  margin-bottom: 32px;
}

label {
  margin-bottom: 8px;
  font-size: 20px;
}

.red {
  color: rgb(240, 68, 68);
}

.seperation-line {
  width: 1px;
  background-color: var(--light-gray2);
  margin: 0 32px;
  max-height: 450px;
}

.add-task-prio-btns-container {
  display: flex;
  justify-content: space-between;
  width: var(--input-width);
}

.custom-select--categories {
  margin-bottom: 32px;
}

/* #region prio btns */
.prio-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 10px;
  background-color: white;
  border-radius: var(--border-radius-s);
  width: 120px;
  gap: 8px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in;
}

.prio-btn:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in;
}

.urgent-active,
.medium-active,
.low-active {
  color: white;
  font-weight: 700;
}

.urgent-active:hover,
.medium-active:hover,
.low-active:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.urgent-active {
  background-color: #ff3d00;
}
.medium-active {
  background-color: var(--light-orange);
}
.low-active {
  background-color: #7ae229;
}

.active-svg {
  fill: white;
  stroke: white;
}

#urgent-prio-svg,
#low-prio-svg {
  width: 20px;
  height: 15px;
}

#medium-prio-svg {
  height: 10px;
  width: 20px;
}

/* #endregion */

/* #region bottom btns container */

.p-required {
  position: absolute;
  top: 610px;
  left: 0;
  font-size: 16px;
}

.add-task-bottom-btns-container {
  position: fixed;
  /* bottom: 48px; */
  top: 850px;
  left: calc(
    var(--sidebar-width) + ((100dvw - var(--sidebar-width)) / 2) +
      (var(--width-content-wrapper) / 2)
  );
  transform: translateX(-100%);
  /* white-space: nowrap;
  flex-shrink: 0; */
}

.bottom-btns-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  white-space: nowrap;
  flex-shrink: 0;
}

.add-task-bottom-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px;
}

/* #endregion */

/* #region task form */

.task-form {
  position: relative;
}

.task-form-select {
  appearance: none;
  background-image: url("../assets/icons/arrow-drop-down.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.task-date-input {
  background-image: url("../assets/icons/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  cursor: pointer;
}

.task-date-input::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

.task-date-input:invalid::-webkit-datetime-edit-text,
.task-date-input:invalid::-webkit-datetime-edit-month-field,
.task-date-input:invalid::-webkit-datetime-edit-day-field,
.task-date-input:invalid::-webkit-datetime-edit-year-field {
  color: var(--light-gray2);
}

.task-date-input:focus::-webkit-datetime-edit-text,
.task-date-input:focus::-webkit-datetime-edit-month-field,
.task-date-input:focus::-webkit-datetime-edit-day-field,
.task-date-input:focus::-webkit-datetime-edit-year-field {
  color: black;
}

.task-date-input:valid::-webkit-datetime-edit-text,
.task-date-input:valid::-webkit-datetime-edit-month-field,
.task-date-input:valid::-webkit-datetime-edit-day-field,
.task-date-input:valid::-webkit-datetime-edit-year-field {
  color: black;
}

/* #endregion  */

/* #region contacts (task form) */
input[type="checkbox"] {
  padding: 8px 16px;
}

.search-contact-input::placeholder {
  color: black;
}

.search-contact-input:focus::placeholder {
  color: transparent;
}

.select-contacts-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.custom-select--contacts {
  margin-bottom: 10px;
}

.custom-select-options::-webkit-scrollbar {
  /* background-color: red; */
  /* margin: 10px 0px; */
}

.custom-select-options::-webkit-scrollbar-button {
  height: 2px;
}

.custom-select--options::-webkit-scrollbar-track {
  margin: 10px 0px;
}

.custom-select--options::-webkit-scrollbar-thumb {
  height: 5px;
}

.contact-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 100%;
}

.contact-avatar--initials {
  color: white;
  font-size: 16px;
}

.selected-contacts {
  display: flex;
  gap: 10px;
}

.display-none {
  opacity: 0;
  max-height: 0;
  pointer-events: none;
}

.custom-select--option:has(input[type="checkbox"]:checked) {
  background-color: var(--dark-blue);
  color: white;
}

.custom-select--option:has(input[type="checkbox"]:checked):hover {
  background-color: var(--darkest-blue);
}

.checkbox-container:has(input[type="checkbox"]:checked) {
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M20 11V17C20 18.6569 18.6569 20 17 20H7C5.34315 20 4 18.6569 4 17V7C4 5.34315 5.34315 4 7 4H15' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M8 12L12 16L20 4.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
    no-repeat center;
}

.checkbox-container:hover:has(input[type="checkbox"]:checked) {
  background: rgba(255, 255, 255, 0.2)
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M20 11V17C20 18.6569 18.6569 20 17 20H7C5.34315 20 4 18.6569 4 17V7C4 5.34315 5.34315 4 7 4H15' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M8 12L12 16L20 4.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
    no-repeat center;
}

/* #endregion */

/* #region subtask (task form) */

.trigger-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trigger-input-container input {
  border: none;
  border-radius: 0px;
  padding: 0;
  flex: 1;
  min-width: 0;
}
.trigger-input-container input:focus {
  border: none;
}

.subtask-btns-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 100%;
  width: 24px;
  height: 24px;
}

.subtask-btn-left {
  margin-right: 4px;
}

.subtask-btn-right {
  margin-left: 4px;
}

.subtask-btns-container button:hover {
  background-color: #eeeeee;
}

.subtask-btns-seperation-line {
  width: 2px;
  height: 20px;
  background-color: var(--light-gray2);
}

.subtask-btns-container {
  display: flex;
  align-items: center;
}

.subtask-btns-container--ul button:hover {
  transform: scale(1.05);
}

.subtask-list {
  padding: 6px 16px;
  /* list-style-type: disc; */
  list-style-position: inside;
}

.subtask-list li::before {
  content: "•";
  margin-right: 8px;
}

.subtask-list li {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 6px 16px;
  margin-bottom: 4px;
  cursor: pointer;
  transition: all 100ms ease-out;
}

.subtask-list .subtask-btns-container--ul {
  display: none;
}

.subtask-list li:hover {
  background-color: #eeeeee;
  border-radius: var(--border-radius-s);
  transition: all 100ms ease-out;
}

.subtask-list li:hover .subtask-btns-container--ul,
.subtask-list li:focus .subtask-btns-container--ul,
.subtask-list:focus-within .subtask-btns-container--ul {
  display: flex;
}

.subtask-list p {
  font-size: 16px;
  color: black;
}

/* #endregion */

/* #region responsive */
@media screen and (min-height: 1000px) {
  .add-task-bottom-btns-container {
    /* top: 850px;
    bottom: unset; */
  }
}

@media screen and (max-width: 1280px) {
  :root {
    --textarea-height: 100px;
  }

  .main-content {
    padding: 48px 24px;
  }
}

@media screen and (max-width: 1150px) {
  :root {
    --input-width: 350px;
  }

  .prio-btn {
    padding: 10px 5px;
    width: 110px;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --input-width: 550px;
    --textarea-height: 90px;
    --width-content-wrapper: var(--input-width);
    --bottom-btns-container-width: 285px;
  }

  .prio-btn {
    padding: 16px 10px;
    width: 120px;
  }

  h1 {
    /* margin-bottom: 32px; */
    position: fixed;
    /* left: max(var(--content-limitation), 24px); */
    top: var(--header-height);
    width: 100dvw;
    background-color: var(--light-gray);
    z-index: 1;
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .main-content {
    padding: 48px max(calc(var(--content-limitation)), 24px);
  }

  .content-wrapper {
    margin-top: 80px;
  }

  .task-form {
    max-width: 1000px;
    margin-bottom: 100px;
  }

  .task-form * {
    font-size: 16px;
  }

  .add-task-bottom-btns-container {
    /* display: flex;
    justify-content: end; */
    top: unset;
    bottom: 24px;
    left: 0;
    padding-left: calc(
      50dvw + (var(--width-content-wrapper) / 2) -
        var(--bottom-btns-container-width)
    );
    padding-right: max(var(--content-limitation), var(--padding-lr-small));
    transform: translateX(0%);
    background-color: var(--light-gray);
    width: 100%;
  }

  .bottom-btns-wrapper {
    width: var(--bottom-btns-container-width);
  }

  .add-task-bottom-btn {
    font-size: 20px;
  }

  .add-task-inner-wrapper {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
  }

  textarea {
    resize: none;
    background-image: none;
  }

  .add-task-bottom-section {
    margin-top: 0;
  }

  .subtask-container {
    margin-bottom: 16px;
  }

  .p-required {
    position: unset;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --input-width: 70dvw;
  }

  .prio-btn {
    padding: 10px 10px;
    width: 110px;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --width-content-wrapper: calc(100dvw - (var(--padding-lr-small) * 2));
    /* --input-width: calc(100dvw - var(--padding-lr-small) * 2); */
    --input-width: unset;
    --bottom-btns-container-width: unset;
  }

  .add-task-container {
    width: 100%;
  }

  .add-task-bottom-btns-container {
    padding: 0 var(--padding-lr-small);
    display: flex;
    justify-content: end;
  }

  .content-wrapper {
    width: 100%;
  }

  .add-task-bottom-btn {
    padding: 8px;
  }

  .prio-btn {
    padding: 6px;
    gap: 4px;
    width: unset;
  }

  #urgent-prio-svg,
  #low-prio-svg {
    width: 18px;
    height: 12px;
  }

  #medium-prio-svg {
    height: 8px;
    width: 16px;
  }

  .urgent-active,
  .medium-active,
  .low-active {
    font-weight: 600;
  }

  .trigger-input-container input {
    /* flex: unset; */
  }
}

/* #endregion */
