main * {
  font-size: 20px;
}

.main-content {
  padding: 48px 100px;
}

:root {
  --light-gray2: #d1d1d1;
  --light-orange: #ffa800;
}

h2 {
  font-weight: 700;
  font-size: 60px;
  color: black;
  margin-bottom: 48px;
}

.add-task-wrapper {
  max-width: 1000px;
}

.add-task-inner-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* gap: 32px; */
}

.add-task-container {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
}

textarea {
  padding: 18px 16px;
}

input {
  padding: 12px 16px;
}

input,
textarea,
select,
.add-task-btn-container {
  margin-bottom: 32px;
}

label {
  margin-bottom: 8px;
  font-size: 20px;
}

.red {
  color: rgb(240, 68, 68);
}

.seperation-line {
  width: 1px;
  background-color: var(--light-gray2);
  margin: 0 32px;
}

.add-task-btn-container {
  display: flex;
  gap: 16px;
}

.prio-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 10px;
  background-color: white;
  border-radius: var(--border-radius-s);
  width: 130px;
  gap: 8px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}

.urgent-active {
  background-color: #ff3d00;
  color: white;
  font-weight: 700;
}
.medium-active {
  background-color: var(--light-orange);
  color: white;
  font-weight: 700;
}
.low-active {
  background-color: #7ae229;
  color: white;
  font-weight: 700;
}

.active-svg {
  fill: white;
  stroke: white;
}

/* buttons Farbe ändern/ toggeln beim klicken --> mit js */

.add-task-bottom-btns-container {
  display: flex;
  gap: 16px;
}

.add-task-bottom-btn {
  padding: 16px;
}

/* buttons background + svg Farbe toggeln beim klicken; button clear task per default ausgewählt */

.add-task-bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 100px;
}

/* Date input + select --> wie designen? */

.task-form-select {
  appearance: none;
  background-image: url("../assets/icons/arrow-drop-down.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.task-date-input {
  background-image: url("../assets/icons/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.task-date-input::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

.task-date-input::-webkit-datetime-edit-month-field {
  color: var(--light-gray2);
}
.task-date-input::-webkit-datetime-edit-day-field {
  color: var(--light-gray2);
}
.task-date-input::-webkit-datetime-edit-year-field {
  color: var(--light-gray2);
}

.task-date-input:focus::-webkit-datetime-edit-month-field {
  color: black;
}
.task-date-input:focus::-webkit-datetime-edit-day-field {
  color: black;
}
.task-date-input:focus::-webkit-datetime-edit-year-field {
  color: black;
}
