:root {
  --input-width: 420px;
  --input-width-mobile-big: 400px;
  --input-width-mobile-small: 364px;
}

input,
select,
textarea {
  outline: none;
}

input:not([type="checkbox"]):focus,
.custom-select--trigger:focus,
textarea:focus {
  border: 1px solid var(--light-blue);
}

/* #region input */
input {
  border: 1px solid #d1d1d1;
  border-radius: var(--border-radius-s);
  width: var(--input-width);
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

input:not([type="checkbox"]) {
  padding: 12px 20px;
}

.required input {
  width: 100%;
}

.required {
  position: relative;
  display: flex;
}

input::placeholder {
  color: #d1d1d1;
}

input:invalid:focus,
select:invalid:focus {
  border: 1px solid red;
}

.required:has(:is(input, select):focus:invalid)::after {
  content: "This field is required";
  font-size: 16px;
  color: red;
  position: absolute;
  bottom: 10px;
  left: 5px;
}

/* #endregion */

/* #region custom checkbox */
.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: url(../assets/icons/checkbox-rect.svg) no-repeat center;
  border-radius: 100%;
}

.checkbox-container:hover {
  background-color: #edf2fa;
  transform: scale(1.05);
}

.checkbox-container:has(input[type="checkbox"]:checked) {
  background: white url(../assets/icons/checkbox.svg) no-repeat center;
}

.checkbox-container:hover:has(input[type="checkbox"]:checked) {
  background: #edf2fa url(../assets/icons/checkbox.svg) no-repeat center;
}

input[type="checkbox"] {
  appearance: none;
  width: 24px;
  height: 24px;
  outline: none;
  border: none;
}

/* #endregion */

/* #region custom select */
.custom-select {
  cursor: pointer;
  background-color: white;
  border-bottom-left-radius: var(--border-radius-s);
  border-bottom-right-radius: var(--border-radius-s);
}

.custom-select:focus .custom-select--trigger img {
  transform: rotate(180deg);
}

.custom-select--trigger {
  display: flex;
  justify-content: space-between;

  padding: 12px 20px;
  border: 1px solid #d1d1d1;
  border-radius: var(--border-radius-s);

  width: var(--input-width);
  font-size: 20px;
  font-weight: 400;
  background-color: white;
}

.custom-select--trigger--img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 24px;
  height: 24px;
}

.custom-select--trigger--img-container:hover {
  background-color: var(--light-gray2);
}

.custom-select-options {
}

.custom-select--option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;

  border-radius: var(--border-radius-s);
  background-color: white;
}

.custom-select--option:hover {
  background-color: var(--light-gray);
}

.contact-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* #endregion */

/* #region textarea */
textarea {
  border: 1px solid #d1d1d1;
  border-radius: var(--border-radius-s);
  width: var(--input-width);
  font-size: 20px;
  font-weight: 400;
  background-image: url("../assets/icons/textarea-resizer.svg");
  background-repeat: no-repeat;
  background-position: bottom 6px right 6px;
}

textarea::placeholder {
  color: #d1d1d1;
}

::-webkit-resizer {
  opacity: 0;
  padding: 8px;
}

/* #endregion */

/* #region buttons */
button {
  cursor: pointer;
  border: unset;
}

.button {
  border-radius: var(--border-radius-xs);
}

.button-login {
  padding: 15px 24px;
  font-size: 20px;
  font-weight: 700;
}

.button-signup-small {
  padding: 15px 16px;
  font-size: 16px;
  font-weight: 700;
}

.button-blue {
  color: white;
  background-color: var(--dark-blue);
  border: 1px solid transparent;
  transition: all 0.2s ease-in;
}

.button-blue:hover {
  background-color: var(--light-blue);
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in;
}

.button-white {
  color: var(--dark-blue);
  background-color: white;
  border: 1px solid var(--dark-blue);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.2s ease-in;
}

.button-white:hover {
  border: 1px solid var(--light-blue);
  outline: 1px solid var(--light-blue);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in;
}

/* .button-white:active {
  color: white;
  background-color: var(--dark-blue);
  border: 1px solid transparent;
}

.button-white:active path {
  fill: white;
  stroke: white;
} */

/* #endregion */

/* #region responsive */
@media screen and (max-width: 1280px) {
  /* :root {
    --input-width: 340px;
  } */
}

@media screen and (max-width: 1024px) {
  input:not([type="checkbox"]) {
    padding: 10px 20px;
  }
}

/* #endregion */
