.privacy-container {
  max-width: 1000px;
}

.privacy-container h1 {
  font-size: 61px;
  font-weight: 700;
  margin-bottom: 40px;
  color: var(--dark-blue);
}

.privacy-container h2 {
  font-size: 27px;
  margin-top: 35px;
  margin-bottom: 15px;
  color: var(--dark-blue);
}

.privacy-container p,
.privacy-container li {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.privacy-container ul {
  list-style: disc;
  margin-left: 20px;
}

.privacy-contact-section {
  background-color: var(--light-gray);
  border-radius: 10px;
  margin-top: 40px;
}

/* #region responsive */
@media screen and (max-width: 1024px) {
  .privacy-container h1 {
    font-size: 47px;
  }

  .main-content {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 768px) {
  .privacy-container h1 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .privacy-container h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .privacy-container h1 {
    font-size: 36px;
    margin-bottom: 24px;
  }
  .privacy-container h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 320px) {
  .privacy-container h1 {
    font-size: 28px;
  }
  .privacy-container h2 {
    font-size: 20px;
  }
  .privacy-container p,
  .privacy-container li {
    font-size: 15px;
  }
}

/* #endregion */
