/* #region task dialog (detail view)*/

:root {
  --task-dialog-padding: 40px;
}

.task-dialog {
  /* display: flex; */
  position: fixed;
  border: none;
  border-radius: 50px;
  padding: 40px;
  background-color: white;
  color: black;
  width: 90%;
  height: 900px;
  max-width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
  z-index: 999;
}

body:has(.example-dialog[open]),
body:has(.add-task-dialog[open]) {
  overflow: hidden;
}

@keyframes slideInCentered {
  from {
    transform: translate(150%, -50%);
    opacity: 0;
  }

  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes slideOutCentered {
  from {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  to {
    transform: translate(150%, -50%);
    opacity: 0;
  }
}

.task-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 500px;
  height: fit-content;
  max-height: 85vh;
  overflow-y: scroll;
  background-color: white;
  border: none;
  border-radius: 30px;
  padding: var(--task-dialog-padding);
  box-sizing: border-box;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  transition:
    display 0.3s allow-discrete,
    overlay 0.3s allow-discrete;
  animation: slideOutCentered 0.3s ease-in forwards;
}

.task-dialog[open] {
  animation: slideInCentered 0.3s ease-out forwards;
}

.dialog-contact-row {
  display: flex;
  align-items: center;
  margin-top: 8px;
  padding-left: 15px;
}

.dialog-contacts-container {
  max-height: 150px;
  overflow-y: auto;
  margin-top: 8px;
}

.dialog-prio-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dialog-prio-row img {
  width: 17px;
  height: 12px;
  object-fit: contain;
}

.dialog-subtasks-section {
  margin-top: 24px;
}

.dialog-subtasks-container {
  max-height: 150px;
  overflow-y: auto;
  margin-top: 8px;
}

.dialog-subtask-row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 8px;
  cursor: pointer;
  user-select: none;
}

.dialog-subtask-checkbox {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.dialog-subtask-row input[type="checkbox"] {
  appearance: auto !important;
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: #2a3647;
}

.dialog-subtask-row label {
  font-size: 16px;
  cursor: pointer;
  user-select: none;
}

/* #endregion */

/* #region task dialog edit mode */

.edit-task-dialog {
  padding: 0 var(--task-dialog-padding);
}
.task-dialog textarea {
  margin-bottom: unset;
}

.edit-task-dialog .add-task-container,
.edit-task-dialog .add-task-prio-btns-container,
.edit-task-dialog .select-wrapper,
.edit-task-dialog .subtask-container,
.edit-task-dialog input,
.edit-task-dialog textarea,
.edit-task-dialog .custom-select-input,
.edit-task-dialog .custom-select {
  width: 100%;
}

.add-task-inner-wrapper--edit-task {
  flex-direction: column;
}

.edit-task-closing-btn-wrapper {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  padding-top: var(--task-dialog-padding);
  width: 100%;
  background-color: white;
  z-index: 2;
}

.edit-task-dialog-closing-btn {
  padding: 8px;
  background-color: transparent;
  border-radius: 50%;
}

.edit-task-dialog-closing-btn:hover {
  background-color: #eeeeee;
}

.edit-task-ok-btn-wrapper {
  position: sticky;
  top: 0;
  padding: 0 0 var(--task-dialog-padding) 0;
  display: flex;
  justify-content: end;
}

/* #endregion */
